@font-face {
	font-family: Comfortaa;
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa');
	src: url('../roghaos.github.io/Comfortaa.ttf');
}

* {
	font-family: Comfortaa, Cantarell, cursive, sans-serif;
	box-sizing: border-box;
}

body {
	margin: auto;
	text-align: justify;
	width: 50%;
	min-width: 256;
	max-width: 1024px;
	padding: 20px;
	text-shadow: 2px 2px 6px silver;
	color: #212121;
	background-color: ivory;
}

h1:hover, h2:hover, h3:hover, h4:hover, p:hover {color: silver;}

#title {
	text-align: left;
	padding-top: 5%;
}
.top_menu {
	padding-left: 0px;
}

h1 {
	padding-top: 5%;
	text-align: left;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: black;
	padding-right: 0.5em;
	text-align: left;
}

a:hover {color: cyan;}

a:active {color: gold;}