body {
    font-family: Comfortaa, Montserrat, Sans;
    background: Grey;
	padding: 10em;
    padding-top: 4em;
    text-decoration: none;
}

#centercontent {
	background: White;
    padding: 5em;
    padding-top: 3em;

}

h1.title {
	color: White;
	text-shadow: 0.05em 0.05em black;
    background: Grey;
    padding-left: 2.5em;
}

h2 {
	color: Black;
	text-shadow: 0.01em 0.01em Grey;
}

h3 {
	color: Black;
	text-shadow: 0.01em 0.01em Grey;
}

h4 {
	color: Black;
	text-shadow: 0.1em 0.1em Grey;
}

#menucontent {
    text-decoration: none;
    padding-bottom: 1em;
}

ul.menu {
	margin:0px;
	padding:0px;
}

ul.menu li {
	display:inline;
}

ul.menu a:link, ul.menu a:visited {
	display: inline;
	font-weight: bold;
	color: White;
	background-color: Grey;
	text-shadow: 0.1em 0.1em Black;
	text-align:center;
	padding: 0.4em;
	margin: 0em;
    text-decoration: none;
}

ul.menu a:hover, ul.menu a:active {
	display: inline;
	font-weight: bold;
	color: White;
	background-color: Black;
	text-shadow: 0.1em 0.1em Black;
	text-align:center;
	padding: 0.4em;
	margin: 0em;
    text-decoration: none;
}

li {
    text-decoration: none;
}
